{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block title %}Detalhes{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">


            <img src="{{ nerd.foto.url }}"
                alt="{{ nerd.nome }}" width="550">
        </div>
        <div class="col">
            <h4 class="text-start">Nome: </h4>
            <p class="lead text-start">{{ nerd.nome }}</p>
            <h4 class="text-start">História/Filme: </h4>
            <p class="lead text-start">{{ nerd.midia }}</p>
            <h4 class="text-start">Profissão: </h4>
            <p class="lead text-start">{{ nerd.profissao }}</p>
            

        </div>
        <div>
            <h4 class="text-start">Sobre: </h4>
            <p class="lead text-start">{{ nerd.sobre }}</p>
        </div>
        <hr>


    </div>
        <a class="btn btn-primary" href="{% url 'atualizar' nerd.id %}">Atualizar Nerd</a>
        <a class="btn btn-danger" href="{% url 'apagar' nerd.id %}">Apagar Nerd</a>
        
</div>
{% endblock %}